@font-face {
	font-family: Vectorb;
	src: url('../ibm2250/Vectorb.ttf');
}

body.ibm2250 {
	background-color: #000;
	color: #fff;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.ibm2250 .screen {
	font-family: Vectorb, monospace;
	font-size: 4.5vmin;
	z-index: 1;
	user-select: none;
}

.ibm2250 main,
.ibm2250 #defaultCanvas0,
.ibm2250 #screen0 {
	position: absolute;
	width: 85.3vmin !important;
	height: 85vmin !important;
}

.ibm2250 #screen0 {
	z-index: 1;
}

.ibm2250 .hovered {
	color: #111;
	background-color: #eee;
}

.ibm2250 #pc1 {
	padding: 0.7vmin;
	border-radius: 10% / 80%;
	background: #a59e94;
}

.ibm2250 #case1 {
	position: relative;
	padding: 10vmin 22vmin 10vmin 22vmin;
	background: radial-gradient(#8c7c55 60%, #99865b 84%, #111);
	border-radius: 10% / 80%;
	border: 1vmin solid #615d4e;
	border-top: none;
	border-bottom: none;
	perspective: 100vmin;
}

.ibm2250 #bezel1 {
	background: linear-gradient(to top, #8c7956, #80734e);
	padding-top: 5vmin;
	padding-bottom: 5vmin;
	border-radius: 90% / 10%;
	border: 0.25vmin solid #a08d67;
}

.ibm2250 #bezel2 {
	background: linear-gradient(to top, #8c7956, #80734e);
	padding-left: 12vmin;
	padding-right: 12vmin;
	margin-left: -7vmin;
	margin-right: -7vmin;
	border-radius: 10% / 70%;
	border: 0.25vmin solid #a08d67;
	border-top: 0;
	border-bottom: 0;
}

.ibm2250 #tube1 {
	background-color: #111;
	border-radius: 80% / 10%;
	width: 92vmin;
	height: 90vmin;
	padding-top: 4.6vmin;
	box-shadow: 0 -3px 2px #1e1d1c, 0 2px 0 -1px #827f7a, 0 3px #4d4c49;
}

.ibm2250 #tube2 {
	background-color: #111;
	color: #fff;
	margin-left: -5.1vmin;
	border-radius: 10% / 80%;
	width: 90vmin;
	height: 85.3vmin;
	padding-left: 8vmin;
	padding-right: 4vmin;
	border: 0.3vmin solid #4d4c49;
	border-top: 0;
	border-bottom: 0;
}
