@font-face {
	font-family: Apple2;
	src: url('Apple2.ttf');
}

.a2 :root {
	--object-box-shadow: 0vw 0.1vw 0.4vw 0.1vw #111, 0.5vw 1vw 1.5vw 0.1vw #888;
	--object-box-shadow-floppy: 0vw 0vw 0.8vw 0.4vw #111, 0 1vw 2.5vw 0.5vw #888;
	--object-box-shadow-monitor: 0 1.6vw 0.8vw 0.2vw #222;
}

.a2 *,
.a2 *::before,
.a2 *::after {
	box-sizing: border-box;
}

body.a2 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	color: #1fda6c;
}

@media screen and (max-width: 1000px) {
	.a2 .🖥️ {
		transform: translate(6vw, calc(100vh - 50vw)) scale(2.55);
	}
}

.a2 .screen {
	font-family: Apple2, monospace;
	font-size: 1.18vw;
}

.a2 .hovered {
	color: black;
	background-color: #1fda6c;
}

.a2 #screen0 {
	filter: drop-shadow(0 0 10px #1fda6c);
}

.a2 .bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background: linear-gradient(-145deg, #000, transparent 30%), linear-gradient(#222 30%, #000 60%, #222 65%, #777);
}

.a2 .h1-bg {
	position: absolute;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
	font-size: 30vw;
	left: 105vw;
	top: 10vh;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	background: linear-gradient(#bbb, #fff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	mix-blend-mode: multiply;
	letter-spacing: -0.5vw;
}

.a2 .h1-bg span {
	font-size: 12vw;
	margin-left: -4vw;
}

.a2 .🖥️ {
	width: 100vw;
	height: 100vh;
	perspective: 60vw;
	perspective-origin: 60vw 30vw;
	overflow-x: scroll;
}

/*
.a2 .keys-container {
  --size: 3vw;
  --size-half: calc(var(--size) / 2);
  --height: 1.5vw;
  --height-half: calc(var(--height) / 2);
  transform: translate3d(0, -1vw, 0.9vw);
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.75vw;
  padding: 0 6vw;
  font-family: Verdana;
  font-variant: small-caps;
  font-size: 1vw;
}

.a2 .keys-container::before {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #524239;
  content: "";
  width: calc(100% - 12vw);
  height: 100%;
  margin: 0 6vw;
  transform: translateZ(calc(-1 * var(--size-half)));
  box-shadow: 0 0 1.5vw #524239;
}

.a2 .key {
  width: 100%;
  height: var(--size);
  position: relative;
  transform-style: preserve-3d;
  overflow: visible;
}

*/

.a2 .key--template {
	display: none;
}

.a2 .key__side {
	position: absolute;
	width: var(--size);
	height: var(--size);
	background-color: #c2aba3;
	transform-style: preserve-3d;
	padding: 0.2em 0.4em;
	overflow: visible;
	border: 1px solid #c2aba3;
}

.a2 .key__side--top {
	transform: rotateY(0deg) translateZ(0.75vw);
	overflow: visible;
	width: 100%;
	border: none;
}

.a2 .key__side--top::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 0.45vw;
	box-shadow: inset 0 0 0.75vw #687c61;
}

.a2 .key__side--right {
	--key-right-z: 1.3w;
	transform: rotateY(90deg) translateZ(var(--key-right-z));
	background: linear-gradient(75deg, #988576, #6a635c 50%);
	width: var(--height);
	border-right: 1px solid #736864;
}

.a2 .key__side--bottom {
	transform: rotateY(180deg) translateZ(var(--height-half));
	width: 100%;
	border: none;
	box-shadow: 0 0 1.5vw 0.3vw #6f5a4f, 0 0 0.3vw 0.2vw black;
}

.a2 .key__side--left {
	transform: rotateY(-90deg) translateZ(var(--height-half));
	background: linear-gradient(35deg, #6a635c, #988576 50%);
	width: var(--height);
	height: 100%;
	border-left: 1px solid #736864;
}

.a2 .key__side--back {
	transform: rotateX(90deg) translateZ(var(--height-half));
	width: 100%;
	height: var(--height);
}

.a2 .key__side--front {
	--height-half: 2.25vw;
	transform: rotateX(-90deg) translateZ(var(--height-half));
	background: linear-gradient(#988576, #736864 50%);
	width: 100%;
	height: var(--height);
	border-top: 1px solid #e6e4d9;
	border-bottom: 1px solid #736864;
}

.a2 .key.key--⇥,
.a2 .key.key--Del,
.a2 .key.key--Ctrl,
.a2 .key.key--⇧,
.a2 .key.key--⇩ {
	grid-column-end: span 2;
	width: 100%;
}

.a2 .key.key--⇧ {
	grid-column-end: span 3;
}

.a2 .key.key--_ {
	grid-column-end: span 6;
	width: 100%;
	color: transparent;
}

.a2 .key.key--none {
	opacity: 0;
}

.a2 .key.key--↵ {
	grid-row-end: span 2;
	height: 100%;
}

.a2 .key.key--↵ .key__side--top {
	height: 100%;
}

.a2 .keyboard {
	position: absolute;
	top: 40vw;
	left: 9vw;
	width: 78vw;
	height: 45vw;
	transform-style: preserve-3d;
	transform: rotateX(70deg);
	border-radius: 7.5vw;
}

.a2 .keyboard .top {
	position: absolute;
	width: calc(100% - 0.75vw);
	height: calc(100% - 0.75vw);
	background-color: #e7e4d9;
	border-radius: 3vw;
	border-bottom: 0.075vw solid #fff;
	transform: translateY(1.65vw) translateX(0.75vw) translateZ(0.75vw);
	display: grid;
	grid-template-rows: 1fr 1fr;
	place-items: center;
	font-family: 'Audiowide', cursive;
	transform-style: preserve-3d;
}

.a2 .keyboard .top .embed {
	width: 90%;
	height: 80%;
	box-shadow: inset 0 0.6vw 1.2vw rgba(60, 118, 83, 0.4);
	grid-area: 2/1;
	border-radius: 1.5vw;
}

.a2 .keyboard .top .emboss {
	width: 98%;
	height: 90%;
	grid-area: 1/1;
	border-radius: 1.5vw;
	border: 1px solid #ddd9c9;
	background-color: rgba(255, 255, 255, 0.5);
	transform: translateY(-1.5vw);
	padding: 1.5vw;
	position: relative;
	box-shadow: inset 0 0 1vw 0.5vw rgba(221, 217, 201, 0.6);
}

.a2 .keyboard .top .emboss::before {
	content: '';
	width: 95%;
	height: 85%;
	position: absolute;
	top: 0;
	left: 2.5%;
	background-color: #e7e4d9;
	border-radius: 1.5vw;
	border: 1px solid #ddd9c9;
}

.a2 .keyboard .top .emboss .model-number {
	position: absolute;
	left: 28vw;
	bottom: 5.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5vw;
	height: 4.5vw;
	box-shadow: inset 0 0 0.75vw black;
	color: #fefefe;
	background-color: #3b2235;
	border-radius: 0.6vw;
	font-style: italic;
	font-size: 3vw;
}

.a2 .keyboard .top .emboss .model-number span {
	padding-left: 0.45vw;
	font-size: 3vw;
	font-style: normal;
	transform: translateY(0.3vw);
}

.a2 .keyboard .top .emboss .logo-label {
	position: absolute;
	left: 7.5vw;
	bottom: 5.5vw;
	display: grid;
	place-items: center;
	width: 20vw;
	height: 4.5vw;
	box-shadow: inset 0 0 0.75vw black;
	color: #fefefe;
	background-color: #3b2235;
	border-radius: 0.6vw;
	grid-template-columns: 6vw 1fr;
	font-size: 3vw;
}

.a2 .logo-img {
	filter: brightness(1.8);
}

.a2 .keyboard .top .emboss .logo-label .logo {
	width: 100%;
	height: 100%;
	background: url('https://raw.githubusercontent.com/quinton-ashley/quintos/main/logo.png') center center no-repeat;
	background-size: contain;
	grid-area: 1/1;
	filter: brightness(1.3);
}

.a2 .keyboard .top .emboss .logo-label .label {
	grid-area: 1/2;
	text-align: left;
	width: 100%;
}

.a2 .keyboard .middle {
	position: absolute;
	width: calc(100% + 1.5vw);
	height: 100%;
	background-color: #ddd9c9;
	transform: translateY(1.5vw) translateX(-0.75vw) translateZ(0vw);
	border-radius: 3vw;
	transform-style: preserve-3d;
}

.a2 .keyboard .middle:after {
	border-radius: 5vw;
	position: absolute;
	bottom: 0;
	left: -1.3vw;
	width: calc(100% + 2.3vw);
	height: 20%;
	content: '';
	background-color: #d0c4ba;
	box-shadow: var(--object-box-shadow);
	transform: translate3d(0, 0, -1.5vw);
}

.a2 .floppy-drive {
	position: absolute;
	top: 61.5vw;
	left: 95.5vw;
	transform-style: preserve-3d;
	transform-origin: bottom center;
	transform: translateZ(-10vw);
	--depth: 30vw;
	--size: 7.5vw;
	--width: 30vw;
	--height: 16.5vw;
	width: var(--width);
	height: var(--height);
	opacity: 1;
}

.a2 .floppy-drive .left {
	position: absolute;
	transform: translateX(-50%) rotateY(90deg);
	width: var(--depth);
	height: var(--height);
	background: linear-gradient(to top, #b2a4a8 95%, #f3f4ec);
	padding: 0 1.8vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1.5vw;
}

.a2 .floppy-drive .left .emboss {
	grid-area: 1/2;
	background: repeating-linear-gradient(to left, transparent, transparent 0.75vw, #b8b8b8 0.75vw, #b8b8b8 1.5vw);
}

.a2 .floppy-drive .top {
	position: absolute;
	transform: translateY(-50%) rotateX(90deg);
	width: var(--width);
	height: var(--depth);
	background-color: #f3f4ec;
	border-radius: 0.75vw;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1.5vw;
	padding: 1.8vw 0;
}

.a2 .floppy-drive .top .emboss {
	background: repeating-linear-gradient(to bottom, transparent, transparent 0.75vw, #b8b8b8 0.75vw, #b8b8b8 1.5vw);
}

.a2 .floppy-drive .top .emboss-1 {
	grid-area: 1/1;
}

.a2 .floppy-drive .top .emboss-2 {
	grid-area: 1/3;
}

.a2 .floppy-drive .top .embed {
	box-shadow: inset 0 0 3vw rgba(0, 0, 0, 0.1);
	border-radius: 0.75vw;
}

.a2 .floppy-drive .top .embed-1 {
	grid-area: 1/2;
}

.a2 .floppy-drive .top .embed-2 {
	grid-area: 2/2;
}

.a2 .floppy-drive .front {
	position: absolute;
	transform: translateY(-0.3vw) translateZ(calc(var(--depth) / 2));
	width: var(--width);
	height: calc(var(--height) + 0.75vw);
	background-color: #3b2235;
	border: 0.45vw solid #dfe1cc;
	box-shadow: inset 0 0 3vw #000;
	border-radius: 0.75vw;
	display: grid;
	place-items: center;
}

.a2 .floppy-drive .front .logo {
	position: absolute;
	width: 4.5vw;
	height: 4.5vw;
	background: url('https://raw.githubusercontent.com/quinton-ashley/quintos/main/logo.png') center center no-repeat;
	background-size: contain;
	right: 3vw;
	bottom: 1.5vw;
	filter: brightness(1.5);
}

.a2 .floppy-drive .front .slot-container {
	width: 100%;
	padding: 0.6vw;
	background-color: #4b2b44;
	box-shadow: 0 0 0.3vw black;
}

.a2 .floppy-drive .front .slot-embed {
	position: absolute;
	box-shadow: inset -0.15vw 0 0.75vw black;
	top: 1.5vw;
	width: 7.5vw;
	height: 12vw;
	border-radius: 0.3vw;
	background-color: #311c2c;
}

.a2 .floppy-drive .front .slot-embed .cover {
	position: absolute;
	top: 5.025vw;
	height: 3vw;
	width: 100%;
	background-color: #3e2438;
	border: 0.075vw solid #222;
	border-top-color: #444;
	box-shadow: 0 0 0.45vw black;
}

.a2 .floppy-drive .front .slot-embed .shadow {
	position: absolute;
	top: 8.025vw;
	height: 4.5vw;
	width: 100%;
	border-radius: 0.3vw;
	background: linear-gradient(-170deg, black, #482941 70%);
	box-shadow: inset -0.15vw 0 0.75vw black;
}

.a2 .floppy-drive .front .slot {
	width: 100%;
	border: 0.45vw solid #252e2f;
	border-top-color: #678083;
	border-left-color: #303c3d;
	border-top-color: #252e2f;
	border-bottom-color: #455658;
	border-right-color: #242c2d;
	display: grid;
	place-items: center;
	border-style: solid;
}

.a2 .floppy-drive .front .slot .hole {
	width: 100%;
	height: 0.75vw;
	background: black;
}

.a2 .floppy-drive .front .light {
	position: absolute;
	bottom: 3.6vw;
	left: 1.5vw;
	font-family: Helvetica;
	color: #fff;
	font-size: 0.6vw;
	height: 1.05vw;
	display: flex;
	align-items: center;
	letter-spacing: 0.03vw;
}

.a2 .floppy-drive .front .light span {
	opacity: 0.8;
}

.a2 .floppy-drive .front .light .arrow {
	display: inline-block;
	transform: rotate(-90deg);
	font-size: 1.05vw;
	margin-left: 0.45vw;
}

.a2 .floppy-drive .front .light .led {
	width: 0.9vw;
	height: 0.9vw;
	margin-left: 0.45vw;
	border-radius: 50%;
	background-color: #7c412c;
	box-shadow: 0 0 0.3vw black;
	position: relative;
}

.a2 .floppy-drive .front .light .led .reflection {
	position: absolute;
	left: 0.225vw;
	top: 0.225vw;
	width: 0.3vw;
	height: 0.3vw;
	border-radius: 50%;
	background-color: #fff;
	filter: blur(0.075vw);
	opacity: 0.8;
}

.a2 .floppy-drive .front .label {
	font-family: 'Audiowide', cursive;
	position: absolute;
	width: auto;
	font-size: 1.8vw;
	color: #fff;
	position: absolute;
	font-weight: bold;
	left: 1.5vw;
	bottom: 0.75vw;
	opacity: 0.8;
}

.a2 .floppy-drive .bottom {
	position: absolute;
	transform: translateY(-50%) rotateX(90deg) translateZ(calc(-1 * var(--height) - 0.6vw));
	width: var(--width);
	height: var(--depth);
	background-color: transparent;
	box-shadow: var(--object-box-shadow-floppy);
	background-color: black;
}

/* .a2 .monitor-shadow {
	position: absolute;
	top: calc(11.5vw + 45vw);
	left: 33vw;
	width: 62vw;
	height: 1.5vw;
	box-shadow: var(--object-box-shadow-monitor);
	border-radius: 1.5vw;
} */

.a2 .back-shadow {
	position: absolute;
	left: 27vw;
	top: 23vw;
	width: 50vw;
	height: 30vw;
	background-color: black;
	box-shadow: 0 0 20vw 5vw #444;
}

.a2 .monitor {
	position: absolute;
	left: 18vw;
	top: 2.5vw;
	width: 66vw;
	height: 47.25vw;
	background-color: #e7e4d9;
	opacity: 1;
	border-radius: 1vw;
	overflow: hidden;
	transform-style: preserve-3d;
	transform: translateZ(0vw);
	box-shadow: inset 0 -0.7vw 0.7vw rgba(60, 118, 83, 0.5);
}

.a2 .monitor__terminal {
	height: 100%;
	padding: 1vw;
}

.a2 .monitor__terminal .cursor {
	display: inline-block;
	width: 0.8vw;
	height: 0.8vw;
	margin: 0.1vw;
	vertical-align: text-bottom;
	background-color: #fff;
	animation: blink 0.7s linear 0s infinite;
}

@keyframes blink {
	from {
		visibility: visible;
	}

	50% {
		visibility: hidden;
	}

	to {
		visibility: hidden;
	}
}

.a2 .monitor__line {
	position: absolute;
	width: 0.45vw;
	height: 47.25vw;
	left: 58.95vw;
	box-shadow: inset 0 0 0.3vw rgba(60, 118, 83, 0.6);
}

.a2 .monitor__soft-shadow {
	position: absolute;
	top: 2.7vw;
	left: 3vw;
	width: 54vw;
	height: 42vw;
	border-radius: 0.75vw;
	box-shadow: inset 0 -0.15vw 1.05vw #3c7653;
}

.a2 .monitor__shadow {
	position: absolute;
	top: 3.15vw;
	left: 3.45vw;
	width: 53.1vw;
	height: 41.1vw;
	background-color: #051715;
	border-radius: 0.75vw;
}

.a2 .monitor__inner {
	position: absolute;
	top: 3.75vw;
	left: 4.05vw;
	width: 51.9vw;
	height: 39.9vw;
	background-color: #b2aea2;
	border-radius: 0.75vw;
	background: linear-gradient(145deg, #b2aea2, #a6a294);
	border-top: 0.3vw solid #e1d3cc;
	box-shadow: inset 0 -1.05vw 1.05vw rgba(60, 118, 83, 0.8), inset 0 -0.5vw 0.5vw #3c7653;
}

.a2 .monitor__inner-shadow {
	position: absolute;
	top: 5.25vw;
	left: 5.7vw;
	width: 48.45vw;
	height: 36.6vw;
	background: linear-gradient(145deg, #384133, #384133 45%, #c0b49c 55%, #c0b49c);
	border-radius: 1.5vw;
	border-bottom: 0.15vw solid #e1d3cc;
	border-right: 0.15vw solid rgba(225, 211, 204, 0.8);
	box-shadow: inset 0 0 1.05vw rgba(60, 118, 83, 0.8);
}

.a2 .monitor__inner-shadow-light {
	position: absolute;
	top: 5.25vw;
	left: 5.7vw;
	width: 48.45vw;
	height: 36.6vw;
	background: linear-gradient(36deg,
			transparent,
			transparent 35%,
			rgba(255, 255, 255, 0.6),
			transparent 65%,
			transparent);
	-webkit-mask-image: linear-gradient(to top left, #113305, #113305 50%, transparent 51%, transparent);
	mask-image: linear-gradient(to top left, #113305, #113305 50%, transparent 51%, transparent);
	border-radius: 1.5vw;
	opacity: 0.7;
}

.a2 .monitor__inner-shadow-dark {
	position: absolute;
	top: 5.25vw;
	left: 5.7vw;
	width: 48.45vw;
	height: 36.6vw;
	background: linear-gradient(36deg, transparent, transparent 43%, #000, transparent 57%, transparent);
	-webkit-mask-image: linear-gradient(to bottom right, #113305, #113305 50%, transparent 51%, transparent);
	mask-image: linear-gradient(to bottom right, #113305, #113305 50%, transparent 51%, transparent);
	border-radius: 1.5vw;
	opacity: 0.5;
}

.a2 .monitor__screen {
	position: absolute;
	top: 9.6vw;
	left: 7.95vw;
	width: 43.8vw;
	height: 27.75vw;
	background-color: #13130e;
	border-radius: 10%/95%;
	box-shadow: inset 0 0 10px #000000;
}

.a2 .monitor__screen-2 {
	position: absolute;
	top: 8.4vw;
	left: 9.75vw;
	width: 40.05vw;
	height: 30.3vw;
	border-radius: 95%/10%;
	background: radial-gradient(#182a12 0%, #13130e 90%);
}

.a2 .monitor__screen-2:not(.bottom-shadow),
.a2 .monitor__screen-2:not(.top-shadow) {
	-webkit-mask-image: linear-gradient(to left, #113305, #113305 97%, transparent);
	mask-image: linear-gradient(to left, #113305, #113305 97%, transparent);
}

.a2 .monitor__screen-2.bottom-shadow {
	-webkit-mask-image: linear-gradient(to bottom, transparent, transparent 88%, #113305);
	mask-image: linear-gradient(to bottom, transparent, transparent 88%, #113305);
	box-shadow: inset 0 0 10px #000000;
}

.a2 .monitor__screen-2.top-shadow {
	top: 8.25vw;
	-webkit-mask-image: linear-gradient(to top, transparent, transparent 88%, #113305);
	mask-image: linear-gradient(to top, transparent, transparent 88%, #113305);
	box-shadow: inset 0 0 10px #000000;
}

.a2 .monitor__logo-embed {
	position: absolute;
	left: 61.05vw;
	top: 42vw;
	width: 3vw;
	height: 3vw;
	border-radius: 0.45vw;
	box-shadow: inset 0 0.15vw 0.45vw rgba(60, 118, 83, 0.6);
	background: url('https://raw.githubusercontent.com/quinton-ashley/quintos/main/logo.png') center center no-repeat;
	background-size: contain;
	filter: brightness(1.8);
}

.a2 .monitor__power-switch {
	position: absolute;
	left: 60.45vw;
	top: 0vw;
	width: 4.35vw;
	height: 2.55vw;
	box-shadow: inset 0 0 0.45vw #3c7653;
	transform: translate(0, -0.75vw);
	position: relative;
}

.a2 .monitor__power-switch__button {
	position: absolute;
	bottom: 1px;
	left: 50%;
	width: 1.5vw;
	height: 0.75vw;
	border: 1px solid rgba(60, 118, 83, 0.3);
	border-bottom: none;
	background-color: #e7e4d9;
	box-shadow: inset 0 0.15vw 0.3vw #fff;
	border-radius: 0.3vw 0.3vw 0 0;
	transform: translateX(-50%);
}

.a2 .monitor__power-switch:hover .monitor__power-switch__button {
	background-color: rgba(60, 118, 83, 0.3);
}

.a2 .apple-outlined {
	width: 1vw;
	height: 1vw;
	background-image: url('https://raw.githubusercontent.com/ant-design/ant-design-icons/master/packages/icons-svg/svg/outlined/apple.svg');
}

.a2 .apple-filled {
	width: 1vw;
	height: 1vw;
	background-image: url('https://raw.githubusercontent.com/ant-design/ant-design-icons/master/packages/icons-svg/svg/filled/apple.svg');
}

/*------- Keyboard ------- */
/* #keyboard {
  transform-style: preserve-3d;
  transform: scale(.94) rotateX(25deg);
} */

#keys {
	margin: auto;
	font-family: "Average Sans", sans-serif;
	color: #555;
	/* padding: 2.5vw 2.3333333333333335vw 2.3333333333333335vw;
	background: #f5f3f1;
	background: linear-gradient(to bottom, #e5e2e1, #f5f3f1, #e5e2e1);
	box-shadow: 0 0 0.8333333333333334vw rgba(0, 0, 0, 0.2), inset 0 0 0.3125vw rgba(0, 0, 0, 0.3);
	border-bottom: 1.5vw solid lightgray;
	border-radius: 0.8333333333333334vw; */
	/* width: 66vw; */
}

/* .a2 #keys {
	filter: brightness(0.82) grayscale(1) sepia(1);
} */

#main {
	padding: 0 0.25vw;
	background: #4d4d4d;
	border-radius: 0.33333333333333337vw 0.33333333333333337vw 0 0;
	position: relative;
	display: flow-root;
}

#addition_wrap {
	padding: 0 0.25vw;
	background: #4d4d4d;
	border-radius: 0 0 0.33333333333333337vw 0.33333333333333337vw;
	position: relative;
	display: flow-root;
}

.key,
.f_key {
	width: 4.5vw;
	height: 3.7vw;
	margin: 0.1vw;
	margin-top: -0.33333333333333337vw;
	border-width: 0.3125vw 0.5833333333333334vw 1.6666666666666667vw;
	border-style: solid;
	border-radius: 0.33333333333333337vw;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	float: left;
}

.pressed {
	transform: rotateX(15deg) translate(0, 1vw);
}

.key,
.f_key {
	color: #C3BFB3;
	background: #696453;
	border-color: #4A422E #605b4e #4E4737;
}

/* .key,
.f_key {
	background: #d3cfcc;
	border-color: #ece8e4 #dedad6 #c9c4c4;
} */

/* .f_key {
	background: #a8aeb8;
	border-color: #c4c7cc #adb9cc #96a6bd;
} */

.keycap {
	font-size: 1.3vw;
	line-height: 1;
	padding: 1vw;
	margin-top: -1vw;
	height: 3vw;
	border-radius: 0.33333333333333337vw;
	transform: rotateX(27deg);
	z-index: 15;
	text-align: center;
}

.keycap.two-char {
	padding: .1vw;
}

.key .keycap,
.f_key .keycap {
	background: #696453;
	background: linear-gradient(to right, #7A7464, #95958A, #8C8876);
	position: relative;
}

/* .key .keycap,
.f_key .keycap {
	background: #f5f3f1;
	background: linear-gradient(to right, #e5e2e1, #f5f3f1, #e5e2e1);
	position: relative;
}
 */
/* .f_key .keycap {
	width: 90%;
	background: #cdd3de;
	background: linear-gradient(to right, #bbc3d2, #cdd3de, #bbc3d2);
} */

.top {
	padding: 0.3125vw 0.4166666666666667vw 0 0;
	font-size: 1vw;
	font-style: italic;
	text-align: right;
	line-height: 1;
	display: block;
}

.bottom {
	width: inherit;
	line-height: 1.6666666666666667vw;
	display: block;
}

.side {
	font-size: 0.8333333333333334vw;
	line-height: 1;
	display: block;
	position: absolute;
	left: 0.33333333333333337vw;
	bottom: -0.8333333333333334vw;
	transform: rotateX(20deg);
}

.f_key .side {
	left: -0.3125vw;
}

.k13 .side {
	right: 0.5833333333333334vw;
	text-align: right;
}

/*------- key width ------- */
.k18.left,
.k192,
.fn,
.k18.right,
.k17 {
	width: 5.1vw;
}

.k27 {
	width: 5.3vw;
}

.k27 .keycap {
	width: 96%;
}

.k192 .keycap {
	width: 2.5vw;
}

.k9 {
	width: 7.2vw;
	border-right-width: 0.8333333333333334vw;
}

.k8 {
	width: 6.5vw;
	border-left-width: 0.8333333333333334vw;
}

.k20 {
	width: 8.4vw;
	border-right-width: 0.8333333333333334vw;
}

.k13 {
	width: 8vw;
	border-left-width: 0.8333333333333334vw;
}

.k16.left {
	width: 10vw;
	border-right-width: 0.8333333333333334vw;
}

.k16.left .keycap {}

.k16.right {
	width: 11vw;
	border-left-width: 0.8333333333333334vw;
}

.k91,
.k93 {
	width: 6vw;
}

.k91 .top,
.k93 .top {
	font-size: 1.0833333333333335vw;
}

.k91 .bottom,
.k93 .bottom {
	font-size: 1.6666666666666667vw;
}

.k91.left {
	border-right-width: 0.8333333333333334vw;
}

.k93.right {
	border-left-width: 0.8333333333333334vw;
}

.k32 {
	width: 26.26vw;
}

.k32 .keycap {
	width: 25.66vw;
}

.k93.right .side {
	margin-left: .4vw;
}

/* .k37,
.k38,
.k39,
.k40 {
  width: 2.5vw;
} */

#cover {
	height: 0.8333333333333334vw;
	position: relative;
	z-index: 1000;
}
