@import 'styles/index.css';

@import 'styles/a2.css';
@import 'styles/arc.css';
@import 'styles/arcv.css';
@import 'styles/c64.css';
@import 'styles/calcu.css';
@import 'styles/cpet.css';
@import 'styles/gameboi.css';
@import 'styles/gridc.css';
@import 'styles/gridc2.css';
@import 'styles/macin.css';
@import 'styles/sas.css';
@import 'styles/zx.css';
