body {
	margin: 0;
	padding: 0;
	background-color: #000;
	font-size: 16px;
	/* text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	::-webkit-scrollbar {
		display: none !important;
	}
}

* {
	scrollbar-width: none !important;
}

#p5_loading {
	display: none;
}

canvas {
	image-rendering: pixelated;
}

row {
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	height: 4%;
}

.screen {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: monospace;
}

#screen0 {
	margin: 0 auto;
	user-select: none;
}

tile {
	text-align: left;
}

.hovered {
	cursor: pointer;
}
