@font-face {
	font-family: Bit5x7;
	src: url('Bit5x7.ttf');
}

@font-face {
	font-family: GridC;
	src: url('GridC.ttf');
}

@font-face {
	font-family: Pixel7;
	src: url('cyrillic_pixel-7.ttf');
}

body.gridc {
	background-color: #000;
	color: #e5b930;
}

.gridc .screen {
	font-family: Bit5x7, GridC, Pixel7, monospace;
	font-size: 1.6vw;
	position: absolute;
	z-index: 1;
}

.gridc .hovered,
.gridc tile:hover {
	color: #653;
	background-color: #e5b930;
}

.gridc .terminalScreen {
	filter: drop-shadow(0 0 0.91vw #e5b930);
}

.gridc #screen0 {
	filter: drop-shadow(0 0 0.5vw #e5b930);
	/* margin-top: -0.14vw; */
}

.gridc #screen0,
.gridc .hovered {
	cursor: none;
}

.gridc .terminalScreen {
	width: 84vw;
	height: 47.25vw;
	margin-top: 1vw;
	margin-left: 1vw;
	border: solid #111 2vw;
	background: repeating-linear-gradient(#222 0, #333 0.08vw, #333 0.26vw, #222 0.3498vw);
}

.gridc main,
.gridc canvas,
.gridc #screen0 {
	position: absolute;
	width: 84vw;
	height: 47.25vw;
}

.gridc .center {
	position: absolute;
	top: 0.31vw;
	left: 50%;
	transform: translateX(-50%);
}

.gridc .screenBox {
	position: relative;
	width: 100vw;
	height: 75vw;
	background-color: #222;
}

.gridc .frame {
	position: absolute;
	width: 94.95vw;
	height: 69.5vw;
	background-color: #555;
	left: 1.96vw;
	top: 1.96vw;
	border: 0.65vw #171717 solid;
	border-radius: 1%;
}

.gridc .screenBox2 {
	position: absolute;
	width: 100%;
	height: 60vw;
	background-color: #222;
}

.gridc .screenBox3 {
	position: absolute;
	left: 2.5vw;
	top: 2.5vw;
	width: 90vw;
	height: 53.5vw;
	background-color: #7a7a7a;
	/* border-radius: 30%/2%; */
	background-color: #111;
}

.gridc .screenEffect {
	background: repeating-linear-gradient(to bottom, #171717, #171717 0.33vw, #121212 0.33vw, #121212 7.2px);
}

.gridc .gridcScreen {
	position: absolute;
	left: 1.96vw;
	top: 1.96vw;
	width: 83.78vw;
	height: 60.87vw;
	background-color: #171717;
	border-radius: 50%/8%;
	cursor: text;
}

.gridc .gridcScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(30, 30, 30, 1) 100%);
}

.gridc.lvl02 .gridcScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(38, 59, 2, 1) 100%);
}

.gridc.lvl03 .gridcScreen,
.gridc.lvl04 .gridcScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(39, 24, 7, 1) 100%);
}

.gridc.lvl03 .frame,
.gridc.lvl04 .frame {
	background-color: #555;
	border-color: #444;
}

.gridc.lvl03 .screenBox,
.gridc.lvl03 .screenBox2,
.gridc.lvl04 .screenBox,
.gridc.lvl04 .screenBox2 {
	background-color: #333;
}

.gridc.lvl03 .screenBox3,
.gridc.lvl04 .screenBox3 {
	background-color: #222;
}

.gridc .bottomFrame {
	position: absolute;
	background-color: #222;
	width: 100%;
	height: 10.5vw;
	bottom: 0;
	border-top: 0.65vw #444 solid;
}

.gridc .fan {
	position: absolute;
	background: repeating-linear-gradient(to right, #333, #444 0.98vw, #222 0.98vw, #111 2vw);
	width: 23.56vw;
	height: 100%;
}

.gridc .logo {
	position: absolute;
	top: 0.31vw;
	left: 42.55vw;
	width: 10.47vw;
}

.gridc .screenBox .powerButton {
	position: absolute;
	top: 1.64vw;
	left: 81.82vw;
	width: 6.55vw;
	height: 6.55vw;
	/* border: 0.33vw #444 solid; */
	cursor: pointer;
}

.gridc .powerIcon {
	position: absolute;
	border: 0.33vw #555555 solid;
	top: 1.47vw;
	left: 1.31vw;
	width: 3.27vw;
	height: 3.27vw;
	border-radius: 50%;
}

.gridc .screenBox .powerLight {
	position: absolute;
	width: 1.96vw;
	height: 1.96vw;
	top: 4.25vw;
	left: 75.27vw;
	border-radius: 50%;
}

.gridc .lightOn {
	background-color: #1bcf60;
	filter: drop-shadow(0 0 1.09vw #1bcf60);
}

.gridc .lightOff {
	background-color: #fa4646;
	filter: drop-shadow(0 0 1.09vw #fa4646);
}

.gridc .screenFoot {
	position: relative;
	width: 90vw;
	height: 4.91vw;
	left: 12.11vw;
	background-color: #7a7a7a;
	box-shadow: inset 0.31vw 3.27vw 1.96vw 0.31vw #222222;
}

.gridc .computer {
	position: relative;
	width: 114.55vw;
	height: 26.18vw;
	background-color: #e3e3e3;
	border-radius: 0.98vw;
}

.gridc .computerFrame {
	position: absolute;
	left: 1.96vw;
	top: 1.96vw;
	width: 109.31vw;
	height: 20.95vw;
	border: 0.65vw #888888 solid;
	border-radius: 0.98vw;
}

.gridc .computerFan1,
.gridc .computerFan2 {
	position: absolute;
	background: repeating-linear-gradient(to right, white, white 0.98vw, #333333 0.98vw, #333333 21.6px);
	height: 7.04vw;
	width: 26.18vw;
	top: 2.29vw;
	left: 1.64vw;
}

.gridc .computerFan2 {
	top: 11.62vw;
}

.gridc div[class^='screw'] {
	position: absolute;
	width: 2.62vw;
	height: 2.62vw;
	background-color: #222222;
	border-radius: 50%;
}

.gridc .screw1 {
	left: 31.09vw;
	top: 3.93vw;
}

.gridc .screw2 {
	left: 31.09vw;
	top: 13.75vw;
}

.gridc .computerFrame2 {
	position: absolute;
	width: 42.55vw;
	height: 15.05vw;
	background-color: #999999;
	border: 0.65vw #888888 solid;
	left: 37.64vw;
	top: 2.29vw;
	border-radius: 0.98vw;
}

.gridc .floppy {
	position: absolute;
	width: 40.58vw;
	height: 8.18vw;
	left: 0.98vw;
	top: 0.98vw;
	background-color: #222222;
}

.gridc .fingerGrip {
	position: absolute;
	width: 9.82vw;
	height: 7.53vw;
	background-color: #0d0d0d;
	top: 0.33vw;
	left: 15.38vw;
	border-radius: 0.98vw;
}

.gridc .slot {
	position: absolute;
	width: 95%;
	height: 1.64vw;
	left: 2.5%;
	top: 2.95vw;
	border-radius: 0.98vw;
	background-color: black;
}

.gridc div[class^='socket'] {
	position: absolute;
	width: 19.8vw;
	height: 3.93vw;
	background-color: black;
}

.gridc .socket1 {
	top: 10.15vw;
	left: 0.98vw;
}

.gridc .socket2 {
	top: 10.15vw;
	left: 21.76vw;
}

.gridc .screw3 {
	left: 86.73vw;
	top: 3.93vw;
}

.gridc .screw4 {
	left: 94.25vw;
	top: 3.93vw;
}

.gridc .screw5 {
	left: 102.44vw;
	top: 3.93vw;
}

.gridc .computer .powerButton {
	position: absolute;
	width: 11.45vw;
	height: 8.51vw;
	left: 86.73vw;
	background-color: #333333;
	top: 9.82vw;
}

.gridc .buttonSlide {
	position: absolute;
	width: 90%;
	height: 3.93vw;
	left: 5%;
	top: 0.65vw;
	background-color: #111111;
	border-radius: 0.33vw;
}

.gridc .computerButton {
	position: absolute;
	width: 45%;
	height: 2.62vw;
	top: 0.65vw;
	background-color: #fa4646;
	cursor: pointer;
}

.gridc .computerButtonOff {
	left: 8%;
}

.gridc .computerButtonOn {
	left: 48%;
}

.gridc .offIndicator {
	position: absolute;
	width: 1.31vw;
	height: 1.31vw;
	top: 5.24vw;
	left: 1.64vw;
	border-radius: 50%;
	border: 0.33vw white solid;
}

.gridc .onIndicator {
	position: absolute;
	width: 0.31vw;
	height: 1.96vw;
	top: 5.24vw;
	left: 9.16vw;
	border-right: 0.33vw white solid;
}

.gridc .computer .powerLight {
	position: absolute;
	width: 1.96vw;
	height: 1.96vw;
	border-radius: 50%;
	left: 103.09vw;
	top: 12.44vw;
}

@media screen and (max-width: 1000px) {
	.gridc .screen {
		font-family: GridC, Bit5x7, VT323, Pixel7, monospace;
		font-size: 3.23vw;
	}

	.gridc .terminalScreen,
	.gridc main,
	.gridc canvas,
	.gridc #screen0 {
		height: 70.875vw;
	}

	.gridc .frame {
		height: 93vw;
	}

	.gridc .screenBox {
		height: 98vw;
	}

	.gridc .screenBox2 {
		height: 85vw;
	}

	.gridc .screenBox3 {
		height: 77vw;
	}
}
