@font-face {
	font-family: C64;
	src: url('../c64//C64_Pro_Mono-STYLE.woff2');
}

body.arc {
	background-color: #111;
	color: #fff;
	background-image: radial-gradient(circle, #222, #111);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.arc .screen {
	font-family: C64, monospace;
	font-size: 2.8vmin;
	z-index: 1;
}

.arc main,
.arc #defaultCanvas0,
.arc #screen0 {
	position: absolute;
	border-radius: 2vmin;
	width: 77vmin !important;
	height: 96vmin !important;
}

.arc .hovered {
	color: black;
	background-color: #eee;
}

.arc #case {
	position: relative;
	padding: 0 5vmin 0 5vmin;
	background-color: #802e2e;
	border-radius: 1vmin;
	border: 5vmin solid #a16060;
	border-top: none;
	border-bottom: none;
	perspective: 100vmin;
}

.arc #bezel {
	border-radius: 0.5vmin;
	background-image: linear-gradient(to right, #262524, #333230, #383735, #333230, #262524);
	padding: 8vmin;
	position: relative;
	border-left: 2px solid #0c0b0b;
	border-right: 2px solid #0c0b0b;
	border-top: 1px solid #a16060;
	border-bottom: 3px solid #0c0b0b;
	box-shadow: 0.5vmin #ba8f8f;
	/* transform-style: preserve-3d; */
	/* transform: rotateX(10deg); */
}

.arc #bezel::before {
	content: '';
	position: absolute;
	top: 1vmin;
	left: 1vmin;
	right: 1vmin;
	bottom: 1vmin;
	border: 1px solid #333230;
	border-left-color: #191817;
	border-right-color: #191817;
	border-radius: 1vmin;
	box-shadow: inset 0 -1.5vmin 2vmin -0.05vmin #191817, inset 0 1.5vmin 2vmin -0.05vmin #191817;
}

.arc #tube {
	box-shadow: 0 -3px 2px #1e1d1c, 0 2px 0 -1px #827f7a, 0 3px #4d4c49;
	background-color: #000;
	color: #fff;
	padding: 2px;
	font-size: 2vmin;
	font-family: C64;
	position: relative;
	border-radius: 2vmin;
	user-select: none;
	width: 77vmin;
	height: 96vmin;
}

.arc #tube.clear {
	background-color: #222;
	border: none;
}

.arc #tube::before,
.arc #tube::after {
	border-radius: 2vmin;
	position: absolute;
	content: '';
	top: -6vmin;
	left: -6vmin;
	right: -6vmin;
	bottom: -6vmin;
}

/* .arc #tube.clear::before,
.arc #tube.clear::after {
	border-radius: 2vmin;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
} */

/* @keyframes scanlines {
	from {
		background-position: 0 0px;
	}

	to {
		background-position: 0 4px;
	}
}

.arc #tube #screen0::before {
	z-index: 20;
	animation: scanlines 16ms infinite steps(4, start);
	background-size: 1vw 3px;
	background-image: linear-gradient(to bottom, transparent 2.7px, rgba(40, 35, 78, 0.6) 2px, rgba(40, 35, 78, 0.9) 3px);
}
.arc #tube.clear #screen0::before {
	z-index: 100;
	animation: scanlines 16ms infinite steps(4, start);
	background-size: 1vw 3px;
	background-image: linear-gradient(to bottom, transparent 2.7px, rgba(40, 35, 78, 0.6) 2px, rgba(40, 35, 78, 0.9) 3px);
} */

/* .arc #tube::after {
	box-shadow: inset 0 0 1vmin 0.25vmin rgba(0, 0, 0, 0.85), 0 0 10vmin -2vmin #50459b, 0 0 10vmin -5vmin #2c2654;
	background-blend-mode: multiply, normal, screen;
	background-image: radial-gradient(ellipse closest-corner, transparent 70%, rgba(80, 69, 155, 0.7)),
		linear-gradient(
			85deg,
			rgba(44, 38, 84, 0.2) 0%,
			rgba(255, 255, 255, 0) 64.5%,
			rgba(174, 172, 191, 0.05) 74.5%,
			rgba(243, 242, 250, 0.05) 75%,
			rgba(213, 210, 229, 0.07) 85%,
			rgba(255, 255, 255, 0) 85.5%
		);
} */
.arc #tube::after {
	box-shadow: inset 0 0 1vmin 0.25vmin rgba(0, 0, 0, 0.85), 0 0 10vmin -2vmin #666, 0 0 10vmin -5vmin #333;
	background-blend-mode: multiply, normal, screen;
	background-image: radial-gradient(ellipse closest-corner, transparent 70%, rgba(90, 90, 90, 0.7)),
		linear-gradient(
			85deg,
			rgba(64, 68, 64, 0.2) 0%,
			rgba(255, 255, 255, 0) 64.5%,
			rgba(174, 172, 191, 0.05) 74.5%,
			rgba(243, 242, 250, 0.05) 75%,
			rgba(213, 210, 229, 0.07) 85%,
			rgba(255, 255, 255, 0) 85.5%
		);
}
.arc #bootScreen {
	display: block;
	top: 1%;
	left: 1%;
	width: 99%;
	height: 99%;
	font-family: C64;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
}

.arc #bottom-panel {
	position: absolute;
	top: 100.9%;
	left: 1vmin;
	right: 1vmin;
	height: 16vmin;
	background-color: #d7c8be;
	border-left: 0.25vmin solid #cdbbae;
	border-right: 0.25vmin solid #cdbbae;
	background-image: linear-gradient(
		to bottom,
		#7c604d 0%,
		#f4f0ed 1.25vmin,
		#eae3de 6.5vmin,
		rgba(215, 200, 190, 0) 7.25vmin
	);
	perspective: 12in;
}

.arc #badge {
	position: absolute;
	z-index: 1;
	top: -1vmin;
	height: 7vmin;
	left: 33vmin;
	right: 33vmin;
	background-image: linear-gradient(-10deg, #494130, #332e22);
	border-left: 0.25vmin solid #d7c8be;
	border-right: 0.25vmin solid #d7c8be;
}

.arc #badge #logo {
	position: absolute;
	top: 55%;
	left: 0.3vmin;
	transform: translate(0, -50%);
}

.arc #badge img {
	width: 7vmin;
	filter: grayscale() contrast(0.7) brightness(4);
}

.arc #badge #brand {
	position: absolute;
	top: 55%;
	left: 7.6vmin;
	background: linear-gradient(#262626, #eaeaea, #262626);
	background-clip: text;
	color: transparent;
	transform: translate(0, -50%);
}

.arc #badge::after {
	content: '';
	position: absolute;
	top: 0.5vmin;
	bottom: 0.5vmin;
	right: 8vmin;
	width: 10vmin;
	opacity: 0.5;
	background-image: linear-gradient(
		to bottom,
		red 0%,
		red 15%,
		transparent 15%,
		transparent 21.25%,
		orange 21.25%,
		orange 36.25%,
		transparent 36.25%,
		transparent 42.5%,
		yellow 42.5%,
		yellow 57.5%,
		transparent 57.5%,
		transparent 63.75%,
		limegreen 63.75%,
		limegreen 78.75%,
		transparent 78.75%,
		transparent 85%,
		cyan 85%,
		cyan 100%
	);
}

.arc #badge #power {
	position: absolute;
	right: 2vmin;
	top: 0;
	bottom: 0;
	width: 5vmin;
	background-color: black;
	color: #666;
	font: normal 0.75vmin system-ui, sans-serif;
	text-align: center;
	line-height: 11vmin;
}

.arc #ident {
	line-height: 1.5;
	position: absolute;
	top: 1vmin;
	right: 13vmin;
	height: 5vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Syncopate', sans-serif;
	font-size: 1.25vmin;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(51, 50, 48, 0.85);
	text-shadow: -1px -1px white, 1px 1px #c4ad9e;
	border-radius: 0.333vmin;
	border-top: 1px solid #e1d5ce;
	border-left: 1px solid white;
	box-shadow: 0.25vmin 0.25vmin 0.25vmin #c4ad9e;
	padding: 0 3vmin 0 1vmin;
	transform: skewx(3.5deg);
}

.arc #door {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 83vmin;
	height: 7.5vmin;
	border-top: 4px groove #e6dcd6;
	border-right: 2px groove #e1d5ce;
}

.arc #video,
#audio {
	font: normal 1vmin system-ui, sans-serif;
	color: #5d4739;
	position: absolute;
	top: 9vmin;
	width: 5vmin;
	height: 5vmin;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid black;
	border-color: #e1d5ce #c4ad9e #c4ad9e #e1d5ce;
	background-image: radial-gradient(circle, #8c6c56, rgba(0, 0, 0, 0));
	box-shadow: inset -0.5vmin -0.5vmin 0.5vmin -0.5vmin white, inset -1vmin -1vmin 2vmin -1vmin #eae3de,
		inset 0.5vmin 0.5vmin 0.5vmin -0.5vmin rgba(0, 0, 0, 0.5), inset 1vmin 1vmin 1vmin #8c6c56;
}

.arc #video::before,
#audio::before {
	content: '';
	position: absolute;
	top: 0.75vmin;
	left: 0.75vmin;
	bottom: 0.75vmin;
	right: 0.75vmin;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 0.25vmin 0.1vmin rgba(0, 0, 0, 0.4), 0 0 0.75vmin #3d2f26;
	background-image: radial-gradient(circle at 50% 45%, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0.4) 70%),
		radial-gradient(circle 3.75vmin at 50% 85%, rgba(255, 255, 255, 0) 64%, rgba(255, 255, 255, 0.4) 70%),
		radial-gradient(
			circle,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8) 15%,
			rgba(0, 0, 0, 0) 40%,
			rgba(0, 0, 0, 0) 45%,
			#a7a7a7 45%,
			silver 50%,
			black
		);
}

.arc #video::after,
#audio::after {
	position: absolute;
	bottom: -2em;
	left: 0;
	right: 0;
	text-align: center;
}

.arc #video {
	right: 15vmin;
}

.arc #video::before {
	background-color: yellow;
}

.arc #video::after {
	content: 'VIDEO';
}

.arc #audio {
	right: 9vmin;
}

.arc #audio::before {
	background-color: white;
}

.arc #audio::after {
	content: 'AUDIO';
}

.arc #power-btn {
	font: normal 1vmin system-ui, sans-serif;
	color: #9c7860;
	position: absolute;
	width: 6.8vmin;
	height: 3.8vmin;
	right: 2.6vmin;
	top: 1.5vmin;
	background-color: black;
	border: 1px solid #a6856f;
}

.arc #power-btn::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, #9d9792, #857d77 2px, #a9a49f);
	box-sizing: border-box;
	border-top: 0.5vmin solid #857d77;
	border-bottom: 3px solid #5d5753;
	border-right: 1px solid #6a645f;
	border-left: 1px solid #6a645f;
}

.arc #power-btn::after {
	content: 'POWER';
	position: absolute;
	top: calc(100% + 0.5vmin);
	left: 0;
	right: 0;
	text-align: center;
}
