body.cpet {
	background-color: #000;
	color: #eee;
}

.cpet .screen {
	font-family: Commodore_PET, monospace;
	font-size: 2.18vw;
	z-index: 1;
}

.cpet .hovered {
	color: #666;
	background-color: #eee;
}

.cpet #screen0 {
	filter: drop-shadow(0 0 10px #eee);
}

.cpet #screen0,
.cpet .hovered {
	cursor: none;
}

.cpet main,
.cpet #screen0 {
	position: absolute;
	width: 87.71vw;
	height: 64vw;
	margin-top: 1vw;
}

.cpet #defaultCanvas0 {
	display: none;
}

.cpet .center {
	position: absolute;
	top: 0.31vw;
	left: 50%;
	transform: translateX(-50%);
}

.cpet .screenBox {
	position: relative;
	width: 98.18vw;
	height: 89vw;
	background-color: #e3e3e3;
	border-radius: 1%;
	left: 8.18vw;
}

.cpet .frame {
	position: absolute;
	width: 92.95vw;
	height: 83vw;
	background-color: #e3e3e3;
	left: 1.96vw;
	top: 1.96vw;
	border: 0.65vw #888888 solid;
	border-radius: 1%;
}

.cpet .screenBox2 {
	width: 100%;
	height: 72vw;
	background-color: #999999;
}

.cpet .screenBox3 {
	position: absolute;
	left: 2.62vw;
	top: 2.62vw;
	width: 87.71vw;
	height: 66vw;
	background-color: #7a7a7a;
	border-radius: 30%/2%;
	background-color: #111;
}

.cpet .screenEffect {
	background: repeating-linear-gradient(to bottom, #171717, #171717 0.33vw, #121212 0.33vw, #121212 7.2px);
}

.cpet .cpetScreen {
	position: absolute;
	left: 1.96vw;
	top: 1.96vw;
	width: 83.78vw;
	height: 60.87vw;
	background-color: #171717;
	border-radius: 50%/8%;
	cursor: text;
}

.cpet .cpetScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(30, 30, 30, 1) 100%);
}

.cpet.lvl02 .cpetScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(38, 59, 2, 1) 100%);
}

.cpet.lvl03 .cpetScreen,
.cpet.lvl04 .cpetScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(39, 24, 7, 1) 100%);
}

.cpet.lvl03 .frame,
.cpet.lvl04 .frame {
	background-color: #555;
	border-color: #444;
}

.cpet.lvl03 .screenBox,
.cpet.lvl03 .screenBox2,
.cpet.lvl04 .screenBox,
.cpet.lvl04 .screenBox2 {
	background-color: #333;
}

.cpet.lvl03 .screenBox3,
.cpet.lvl04 .screenBox3 {
	background-color: #222;
}

.cpet .bottomFrame {
	position: absolute;
	background-color: #e3e3e3;
	width: 100%;
	height: 10.47vw;
	bottom: 0.31vw;
	border-top: 0.65vw #888888 solid;
}

.cpet .fan {
	position: absolute;
	background: repeating-linear-gradient(to right, white, white 0.98vw, #333333 0.98vw, #333333 21.6px);
	width: 23.56vw;
	height: 100%;
}

.cpet .logo {
	position: absolute;
	top: 0.31vw;
	left: 42.55vw;
	width: 10.47vw;
}

.cpet .screenBox .powerButton {
	position: absolute;
	top: 1.64vw;
	left: 81.82vw;
	width: 6.55vw;
	height: 6.55vw;
	background-color: #999999;
	border: 0.33vw #7a7a7a solid;
	cursor: pointer;
}

.cpet .powerIcon {
	position: absolute;
	border: 0.33vw #555555 solid;
	top: 1.47vw;
	left: 1.31vw;
	width: 3.27vw;
	height: 3.27vw;
	border-radius: 50%;
}

.cpet .screenBox .powerLight {
	position: absolute;
	width: 1.96vw;
	height: 1.96vw;
	top: 4.25vw;
	left: 75.27vw;
	border-radius: 50%;
}

.cpet .lightOn {
	background-color: #1bcf60;
	filter: drop-shadow(0 0 1.09vw #1bcf60);
}

.cpet .lightOff {
	background-color: #fa4646;
	filter: drop-shadow(0 0 1.09vw #fa4646);
}

.cpet .screenFoot {
	position: relative;
	width: 90vw;
	height: 4.91vw;
	left: 12.11vw;
	background-color: #7a7a7a;
	box-shadow: inset 0.31vw 3.27vw 1.96vw 0.31vw #222222;
}

.cpet .computer {
	position: relative;
	width: 114.55vw;
	height: 26.18vw;
	background-color: #e3e3e3;
	border-radius: 0.98vw;
}

.cpet .computerFrame {
	position: absolute;
	left: 1.96vw;
	top: 1.96vw;
	width: 109.31vw;
	height: 20.95vw;
	border: 0.65vw #888888 solid;
	border-radius: 0.98vw;
}

.cpet .computerFan1,
.cpet .computerFan2 {
	position: absolute;
	background: repeating-linear-gradient(to right, white, white 0.98vw, #333333 0.98vw, #333333 21.6px);
	height: 7.04vw;
	width: 26.18vw;
	top: 2.29vw;
	left: 1.64vw;
}

.cpet .computerFan2 {
	top: 11.62vw;
}

.cpet div[class^='screw'] {
	position: absolute;
	width: 2.62vw;
	height: 2.62vw;
	background-color: #222222;
	border-radius: 50%;
}

.cpet .screw1 {
	left: 31.09vw;
	top: 3.93vw;
}

.cpet .screw2 {
	left: 31.09vw;
	top: 13.75vw;
}

.cpet .computerFrame2 {
	position: absolute;
	width: 42.55vw;
	height: 15.05vw;
	background-color: #999999;
	border: 0.65vw #888888 solid;
	left: 37.64vw;
	top: 2.29vw;
	border-radius: 0.98vw;
}

.cpet .floppy {
	position: absolute;
	width: 40.58vw;
	height: 8.18vw;
	left: 0.98vw;
	top: 0.98vw;
	background-color: #222222;
}

.cpet .fingerGrip {
	position: absolute;
	width: 9.82vw;
	height: 7.53vw;
	background-color: #0d0d0d;
	top: 0.33vw;
	left: 15.38vw;
	border-radius: 0.98vw;
}

.cpet .slot {
	position: absolute;
	width: 95%;
	height: 1.64vw;
	left: 2.5%;
	top: 2.95vw;
	border-radius: 0.98vw;
	background-color: black;
}

.cpet div[class^='socket'] {
	position: absolute;
	width: 19.8vw;
	height: 3.93vw;
	background-color: black;
}

.cpet .socket1 {
	top: 10.15vw;
	left: 0.98vw;
}

.cpet .socket2 {
	top: 10.15vw;
	left: 21.76vw;
}

.cpet .screw3 {
	left: 86.73vw;
	top: 3.93vw;
}

.cpet .screw4 {
	left: 94.25vw;
	top: 3.93vw;
}

.cpet .screw5 {
	left: 102.44vw;
	top: 3.93vw;
}

.cpet .computer .powerButton {
	position: absolute;
	width: 11.45vw;
	height: 8.51vw;
	left: 86.73vw;
	background-color: #333333;
	top: 9.82vw;
}

.cpet .buttonSlide {
	position: absolute;
	width: 90%;
	height: 3.93vw;
	left: 5%;
	top: 0.65vw;
	background-color: #111111;
	border-radius: 0.33vw;
}

.cpet .computerButton {
	position: absolute;
	width: 45%;
	height: 2.62vw;
	top: 0.65vw;
	background-color: #fa4646;
	cursor: pointer;
}

.cpet .computerButtonOff {
	left: 8%;
}

.cpet .computerButtonOn {
	left: 48%;
}

.cpet .offIndicator {
	position: absolute;
	width: 1.31vw;
	height: 1.31vw;
	top: 5.24vw;
	left: 1.64vw;
	border-radius: 50%;
	border: 0.33vw white solid;
}

.cpet .onIndicator {
	position: absolute;
	width: 0.31vw;
	height: 1.96vw;
	top: 5.24vw;
	left: 9.16vw;
	border-right: 0.33vw white solid;
}

.cpet .computer .powerLight {
	position: absolute;
	width: 1.96vw;
	height: 1.96vw;
	border-radius: 50%;
	left: 103.09vw;
	top: 12.44vw;
}
