@import url('https://fonts.googleapis.com/css?family=Lato|Press+Start+2P');
@import url('https://db.onlinewebfonts.com/c/487390d5558cff7a17ce35d7d92a0540?family=Pretendo');

/* Layout */
body.gameboi {
	background-color: #000;
	background-image: repeating-linear-gradient(
			132deg,
			#000 0% 10%,
			transparent 10% 11%,
			#000 11% 21%,
			transparent 21% 22%
		),
		linear-gradient(50deg, #7e2e52 30%, #513a8d 60%);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 98vh;
}

.gameboi .screen {
	font-family: Early_GameBoy, monospace;
	font-size: 2.2vw;
	position: absolute;
	z-index: 1;
	color: #306850;
}

.gameboi .hovered {
	color: #e0f8cf;
	background-color: #306850;
}

.gameboi main,
.gameboi #defaultCanvas0,
.gameboi #screen0 {
	position: absolute;
	width: 40vw;
	height: 36vw;
}

.gameboi #screen0 {
	margin-top: -0.6vw;
	margin-left: -0.05vw;
}

.gameboi p a {
	color: #c78dff;
}

.gameboi .wrapper {
	--gameboy-width: 75vw;
	--gameboy-height: 125vw;

	width: var(--gameboy-width);
	height: var(--gameboy-height);
	position: relative;
	transform: translateY(6%) scale(1.25);
}

@media screen and (max-width: 1100px) {
	.gameboi .wrapper {
		transform: translateY(13%) scale(1.25);
	}
}

@media screen and (max-width: 800px) {
	.gameboi .wrapper {
		transform: translateY(20%) scale(1.5);
	}
}
@media screen and (max-width: 600px) {
	.gameboi .wrapper {
		transform: translateY(40%) scale(1.75);
	}
}
@media screen and (max-width: 500px) {
	.gameboi .wrapper {
		transform: translate(-5%, 40%) scale(2.25);
	}
}

/* GameBoy console body */
.gameboi .gameboy {
	background: #d3ccd3 linear-gradient(#d3ccd3 95%, #999 98%, #777 99%);
	overflow: hidden;
	border-radius: 2.4vw 2.4vw 15vw 2.4vw;
	box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5), 0 0 3vw rgba(0, 0, 0, 0.75) inset;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.gameboi .power {
	width: 6vw;
	height: 3vw;
	border-radius: 50%;
	background: linear-gradient(to right, #eee 10%, #d3ccd3 30% 70%, #eee 90%);
	box-shadow: 0 0 0.8vw rgba(0, 0, 0, 0.5) inset;
	position: absolute;
	top: -1.4vw;
	left: 10vw;
	cursor: pointer;
}

.gameboi .power.on {
	left: 15vw;
}

.gameboi .gameboy > .top {
	display: flex;
	padding-bottom: 1vw;
	margin-bottom: 1vw;
	border-bottom: 0.31vw solid rgba(0, 0, 0, 0.1);
}

.gameboi .gameboy > .top .corner {
	width: 5vw;
	height: 4vw;
}

.gameboi .gameboy > .top .corner.left {
	margin-right: 1vw;
}

.gameboi .gameboy > .top .corner.right {
	margin-left: 1vw;
}

.gameboi .gameboy > .top .top {
	width: 100%;
}

.gameboi .gameboy > .top > div {
	border-radius: 0 0 0.4vw 0.4vw;
	border: 0.31vw solid rgba(0, 0, 0, 0.1);
	box-shadow: 0.31vw 0.31vw 0.6vw rgba(0, 0, 0, 0.25);
}

.gameboi .gameboy > .top > div span {
	font-family: Arial, sans-serif;
	font-size: 2.4vw;
	box-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.5) inset;
	text-shadow: 0.4vw 0.31vw 0.4vw rgba(0, 0, 0, 1);
	color: #eee;
	border-radius: 3vw;
	margin: 0 1.2vw;
	padding: 0.4vw 1vw;
	opacity: 0.25;
}

/* GameBoy complete screen (gray + green) */
.gameboi .bezel {
	background: #767189;
	width: calc(var(--gameboy-height) / 2);
	box-shadow: 0 0 0.4vw #514c65;
	border-radius: 2vw 2vw 7vw 2vw;
	height: 50vw;
	margin: 0.1em auto;
}
.gameboi .bezel span {
	font-family: Arial, sans-serif;
	font-size: 2vw;
	color: #fff;
}
.gameboi .bezel .top {
	margin: 0 3vw;
	height: 6vw;
	background: linear-gradient(
		transparent 2vw,
		#7d1a4a 2vw 2.4vw,
		transparent 2.4vw 3.2vw,
		#35224e 3.2vw 3.6vw,
		transparent 18px
	);
	position: relative;
}
.gameboi .bezel .top span {
	padding: 0 1.6vw;
	background: #767189;

	position: absolute;
	right: 6vw;
	top: 1.6vw;
}
.gameboi .bezel .bottom {
	display: flex;
}
.gameboi .bezel .bottom .led {
	width: 2vw;
	height: 2vw;
	background: #4a4748;
	border-radius: 50%;
	margin: 1.2vw;
}
.gameboi .bezel .bottom .led.on {
	background: #d81e07;
	box-shadow: 0 0 1vw #d81e07;
}
.gameboi .bezel .bottom .battery {
	padding: 0 1.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

/* Game Screen (only green screen) */
.gameboi .gamescreen {
	background: #86c06c;
	width: 40vw;
	height: 36vw;
	box-shadow: -0.1vw 0.2vw 1vw rgb(0 0 0 / 50%) inset, -0.4vw -0.4vw 2vw rgb(0 0 0 / 25%) inset;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	padding: 1vw;
}
.gameboi .gamescreen span {
	display: none;
	font-family: 'Press Start 2P';
	font-weight: bold;
	font-size: 3.6vw;
	letter-spacing: -0.31vw;
	color: #0f380f;
}
.gameboi .gamescreen span sup {
	font-weight: normal;
	font-size: 2.4vw;
}
.gameboi .gamescreen.startup span {
	display: block;
	-webkit-animation: startup 2s linear forwards;
	animation: startup 2s linear forwards;
	transform: translate(0, -25px);
}

@keyframes startup {
	0% {
		transform: translate(0, -25px);
	}
	100% {
		transform: translate(0, 80px);
	}
}

/* Brand Nintendo GameBoy text */
.gameboi .brand {
	margin: 1vw 6vw;
}
.gameboi .brand span {
	font-family: Pretendo, sans-serif;
	font-size: 3vw;
	color: #302058;
}
.gameboi .brand span:nth-child(2) {
	font-family: Lato, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 4.4vw;
	margin-left: 1vw;
}

/* Main controls: Cross and A/B buttons */
.gameboi .controls {
	display: flex;
	justify-content: space-between;
}

.gameboi .cross {
	background: linear-gradient(to bottom, #c4bfc6 -10%, #e2e0eb 130%);
	border-radius: 50%;
	padding: 2vw;
	width: 20vw;
	height: 20vw;
	margin: 6vw;
	display: grid;
	grid-template-areas: '. up .' 'left center right' '. down .';
}

.gameboi .cross .cursor {
	background: #040308;
	border: 0.6vw solid #040308;
	box-shadow: 0.4vw 0.8vw 0.6vw rgba(0, 0, 0, 0.6);
	display: flex;
}

.gameboi .cross .cursor.up,
.gameboi .cross .cursor.left,
.gameboi .cross .cursor.right {
	border-top-color: #c5d8e1;
}

.gameboi .cross .cursor .circle {
	border: 0.31vw solid #111;
	border-left: 0;
	border-bottom: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background: conic-gradient(transparent 0 30%, rgba(255, 255, 255, 0.5) 40% 60%, transparent 70%);
}

.gameboi .cross .cursor.up {
	grid-area: up;
}

.gameboi .cross .cursor.left {
	grid-area: left;
}

.gameboi .cross .cursor.center {
	grid-area: center;
}

.gameboi .cross .cursor.right {
	grid-area: right;
}

.gameboi .cross .cursor.down {
	grid-area: down;
}

.gameboi .cross .cursor:active {
	box-shadow: none;
	border-color: #111;
}

.gameboi .cross .cursor.center:active {
	border-color: #040308;
}

.gameboi .buttons {
	background: linear-gradient(#b7acb1 -10%, #f1f3f2 130%);
	border-radius: 8vw;
	padding: 1vw;
	height: 12vw;
	display: flex;
	align-items: center;
	margin: 10vw 6vw 0 0;
	transform: rotate(-30deg);
}

.gameboi .buttons .button {
	width: 10vw;
	height: 10vw;
	box-shadow: -0.4vw 0.6vw 1vw rgba(0, 0, 0, 1), -0.6vw 0.8vw 0.6vw rgba(255, 255, 255, 0.25) inset;
	margin: 0 1.2vw;
	border-radius: 50%;
	background: #6f001a;
}

.gameboi .buttons .button:active {
	box-shadow: -0.6vw 0.8vw 0.6vw rgba(0, 0, 0, 0.25) inset, 0.4vw -0.4vw 0.6vw rgba(0, 0, 0, 0.25) inset;
}

.gameboi .buttons .button::after {
	font-family: Pretendo, sans-serif;
	font-size: 3.2vw;
	color: #302058;
	content: attr(data-button);
	position: relative;
	right: -3vw;
	bottom: -13vw;
}

/* Secondary controls: Select & Start */
.gameboi .gamecontrols {
	display: flex;
	justify-content: center;
	margin-bottom: 10vw;
}
.gameboi .gamecontrols .gap {
	background: linear-gradient(#b7acb1 -10%, #f1f3f2 130%);
	transform: rotate(-28deg);
	margin: 0 1vw;
	border-radius: 3vw;
}
.gameboi .gamecontrols .button {
	background: #9e9baf;
	border-radius: 2vw;
	box-shadow: -0.4vw -0.4vw 1vw rgba(0, 0, 0, 0.4) inset, 0.4vw 0.4vw 1vw rgba(255, 255, 255, 0.7) inset,
		0.4vw 0.4vw 1.2vw rgba(0, 0, 0, 0.8);
	width: 10vw;
	height: 2.4vw;
	margin: 1.2vw 1.6vw;
}
.gameboi .gamecontrols .button:active {
	box-shadow: -0.4vw -0.4vw 1vw rgba(0, 0, 0, 0.4) inset, 0.4vw 0.4vw 1vw rgba(0, 0, 0, 0.7) inset;
}
.gameboi .gamecontrols .button::after {
	font-family: Pretendo, sans-serif;
	font-size: 2.4vw;
	color: #302058;
	content: attr(data-button);
	position: relative;
	right: 0;
	bottom: -4vw;
}

/* Gameboy bottom body part */
.gameboi .gameboy > .bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	left: -4vw;
}

.gameboi .speaker {
	display: flex;
	width: 24vw;
	justify-content: space-around;
	position: absolute;
	right: 3vw;
	bottom: 7vw;
	transform: rotate(-30deg);
}

.gameboi .speaker::after {
	content: '';
	width: 40vw;
	height: 12vw;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	top: 10vw;
}

.gameboi .speaker .band {
	width: 1.6vw;
	height: 12vw;
	border-radius: 1.6vw;
	box-shadow: 0.6vw 1.2vw 0.31vw rgba(0, 0, 0, 0.6) inset;
	background: rgba(0, 0, 0, 0.35);
}

.gameboi .phones {
	font-family: Arial, sans-serif;
	font-size: 2vw;
	opacity: 0.5;
	text-align: center;
	border: 0.31vw solid #aaa;
	border-radius: 8vw;
	padding: 0.4vw 1.2vw;
	box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5) inset;
	margin-bottom: 2vw;
}
