.macin {
	background: #350a60;
	font-family: Silom, Chicago, Helvetica, arial, sans-serif;
}

.macin .container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.macin .mac {
	background: #ede1c1;
	border-radius: 3.3vmin;
	border-top: 7vmin solid #f3ebd5;
	border-bottom: 7vmin solid #f3ebd5;
	border-right: 3vmin solid #e2ce99;
	border-left: 3vmin solid #e2ce99;
	height: 136vmin;
	width: 100vmin;
}
.macin .mac .monitor-frame {
	background: #ede1c1;
	box-shadow: inset 0 0 17vmin rgba(255, 255, 255, 0.3);
	border-top: 7vmin solid #e7d7ad;
	border-bottom: 7vmin solid #e7d7ad;
	border-right: 3vmin solid #f8f4e9;
	border-left: 3vmin solid #f8f4e9;
	border-radius: 3vmin;
	height: 66vmin;
	margin: 0 auto;
	margin-top: 7vmin;
	position: relative;
	width: 83vmin;
}
.macin .mac .floppy {
	margin-top: 13vmin;
	margin-left: 40vmin;
	height: 7vmin;
	position: relative;
	width: 55vmin;
}
.macin .mac .floppy .sec-1 {
	background: #444;
	border-radius: 2vmin;
	border-top: 3vmin solid #e7d7ad;
	border-bottom: 3vmin solid #f3ebd5;
	border-right: 3vmin solid #dcc486;
	border-left: 3vmin solid #f8f4e9;
	height: 7vmin;
	position: absolute;
	right: 0;
	width: 23vmin;
}
.macin .mac .floppy .sec-2 {
	background: #444;
	border-radius: 2vmin;
	border-top: 3vmin solid #e7d7ad;
	border-bottom: 3vmin solid #f3ebd5;
	border-left: 3vmin solid #f8f4e9;
	height: 3vmin;
	left: 2vmin;
	position: absolute;
	top: 2vmin;
	width: 25vmin;
}
.macin .mac .logo {
	width: 10vmin;
	height: 10vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1vmin;
	margin-top: 3vmin;
	margin-left: 5vmin;
	margin-bottom: 3vmin;
	box-shadow: inset 0.3vmin 0.3vmin 1.3vmin rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.1);
}

.macin .monitor {
	background: black;
	border-radius: 2vmin;
	height: 67vmin;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

/* monitor bg */

.macin .contain {
	background-color: white;
	width: 98%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
	/*   animation: intro 1s forwards; */
	opacity: 1;
	height: 97.5%;
	margin-left: 1%;
	margin-top: 1%;
}

.macin .menu .dropdown a {
	color: black;
	padding: 0px;
	text-decoration: none;
	display: flow-root;
	padding: 0 2px;
}

.macin .menu .dropdown a:hover {
	background-color: black;
	color: white;
}

.macin .bg {
	height: 100%;
	width: 100%;
	background-image: repeating-linear-gradient(
			45deg,
			cyan,
			black 25%,
			transparent 25%,
			transparent 75%,
			blue 75%,
			black 100%
		),
		repeating-linear-gradient(45deg, blue, blue 25%, transparent 25%, transparent 75%, blue 75%, cyan 100%);
	background-size: 4px 4px, 4px 4px;
	background-position: 0 0, 2px 2px;
	position: relative;
	justify-content: center;
}

.macin .doc {
	bottom: 15px;
	right: 155px;
}

.macin .icon {
	width: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: center;
	overflow: visible;
	opacity: 0;
	animation: icons 1s ease-out 1.25s forwards;
}

.macin .mail {
	bottom: 15px;
	right: -5px;
}

.macin .trash {
	bottom: 15px;
	right: 75px;
}

.macin .menu {
	position: absolute;
	background-color: lightgray;
	width: 100%;
	height: 20px;
	border-bottom: 2px solid black;
	font-size: 13px;
	display: inline;
	user-select: none;
	z-index: 900;
}

/* .macin .menu {
	position: absolute;
	background-color: lightgray;
	width: 100%;
	height: 2.2vmin;
	border-bottom: .33vmin solid black;
	font-size: 1.45vmin;
	display: inline;
	user-select: none;
	z-index: 900;
} */

.macin .menu .click {
	padding-left: 1vmin;
	padding-right: 1vmin;
	height: 100%;
	-webkit-font-smoothing: none;
	float: left;
}

.macin .menu p {
	margin: 0;
	height: 100%;
	display: inline;
	vertical-align: sub;
}

.macin .menu img {
	height: 100%;
	filter: none;
	user-select: none;
}

/* .macin .menu .apple img {
	filter: brightness(0.82);
  margin-top: -0.2vmin;
} */

.macin .menu .apple img {
	filter: brightness(1.8);
}

.macin .menu .apple:active img {
	filter: invert(1);
}

.macin *::selection {
	background: transparent;
}

.macin .menu .click:active {
	color: white;
	background-color: black;
}

.macin .time {
	float: right;
	padding-right: 1vmin;
}

.macin .menu .dropdown a * {
	display: inline;
}

.macin .menu .dropdown p {
	float: left;
}

.macin .menu .dropdown li {
	float: right;
}

.macin .menu .dropdown {
	display: none;
	position: absolute;
	left: 0;
	background-color: white;
	min-width: 18vmin;
	border: 1px solid black;
	box-shadow: 3px 3px 0px -1px black;
	z-index: 1000;
}

.macin .menu .click {
	position: relative;
	display: inline-block;
	user-select: none;
}

.macin .menu .click:active .dropdown {
	display: block;
}

@keyframes intro {
	0% {
		height: 0%;
		opacity: 0;
	}
	100% {
		height: 95%;
		opacity: 1;
	}
}

@keyframes icons {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* window */

.macin .window .scroll.right:before,
.macin .window .scroll.right:after,
.macin .window .scroll.bottom:before,
.macin .window .scroll.bottom:after {
	height: 23px;
	width: 23px;
	background: url('https://dl.dropboxusercontent.com/u/216723067/pixel-arrow.svg') center/16px no-repeat;
	background-color: white;
	border: 1px solid black;
	content: '';
	float: left;
	z-index: 3;
}

.macin .desktop {
	position: absolute;
	top: 32px;
	left: 6%;
}

.macin .window {
	display: flex;
	box-orient: vertical;
	box-direction: normal;
	-moz-flex-direction: column;
	flex-direction: column;
	background-color: white;
	border: 1px solid black;
	box-shadow: 4px 4px 0 black;
	height: 59vmin;
	overflow: hidden;
	position: relative;
	float: none;
	width: 72vmin;
	z-index: 500;
}
.macin ul {
	list-style: none;
}
.macin .bar {
	background-color: lightgray;
	font-size: 0.7rem;
	user-select: none;
	z-index: 900;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid black;
	position: relative;
	text-align: center;
	width: 100%;
}
.macin .info.bar li {
	padding: 0.5vmin;
	padding-left: 1vmin;
	padding-right: 1vmin;
}
.macin .info.bar p {
	padding-top: 0.5vmin;
}
.macin .title.bar {
	cursor: move;
	height: 20px;
}
.macin .bar.title h1 {
	background: lightgray;
	border: 0 solid lightgray;
	border-left-width: 4px;
	border-right-width: 4px;
	z-index: 1;
	font-size: 14px;
}
.macin .bar.title:before,
.macin .bar.title:after {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAG0lEQVQYV2NkIBIwAtX9J0YtSCFRgCSFw8ZqAGFpAwfpRLQ2AAAAAElFTkSuQmCC);
	content: '';
	height: 9.6px;
	left: 0;
	position: absolute;
	right: 0;
	top: 5px;
}
.macin .bar.info {
	border-bottom: 4px double black;
	font-size: 0.75rem;
}
.macin .bar.links {
	border-bottom: 2px solid black;
}
.macin .bar.links li {
	padding-left: 1vmin;
	padding-right: 1vmin;
}
.macin .bar li:hover {
	background-color: black;
	color: white;
}
.macin .window nav {
	width: 0;
}
.macin .bar ul {
	display: flex;
	box-pack: justify;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-pack: justify;
	width: 100%;
	margin: 0;
	padding: 0;
}
.macin .bar .close {
	width: 10px;
	height: 10px;
	background: white;
	border: 2px solid black;
	position: absolute;
	top: 2.5px;
	left: 5px;
	z-index: 1;
}
.macin .bar .maximize {
	width: 10px;
	height: 10px;
	background: white;
	border: 2px solid black;
	position: absolute;
	top: 2.5px;
	right: 5px;
	z-index: 2;
}
.macin .bar .maximize:after {
	width: 5px;
	height: 5px;
	border: 2px solid black;
	content: '';
	left: -2px;
	position: absolute;
	top: -2px;
}

.macin .emoji {
	font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla,
		twemoji mozilla, segoe ui symbol;
	font-size: 2vmin;
}

.macin iframe {
	height: 100%;
	border: none;
}

.macin .bar p {
	margin: 0;
}
.macin .folder {
	box-flex: 1;
	-moz-flex: 1;
	flex: 1;
	background: greenyellow;
	color: white;
	font-size: 4rem;
	overflow: hidden;
}
.macin .appleii-colors {
	display: flex;
	box-orient: vertical;
	box-direction: normal;
	-moz-flex-direction: column;
	flex-direction: column;
	-moz-flex-grow: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;
	/*background: url($mac-logo-url) center /15vh no-repeat*/
	margin-bottom: 27px;
}
.macin .appleii-colors img {
	height: 10vh;
	width: 10vh;
	position: absolute;
	bottom: 10%;
	left: 10%;
}
.macin .appleii-colors .appleii-color-green {
	box-flex: 1;
	-moz-flex: 1;
	flex: 1;
	background-color: #b9de00;
	margin-right: 27px;
}
.macin .appleii-colors .appleii-color-orange {
	box-flex: 1;
	-moz-flex: 1;
	flex: 1;
	background-color: #ffad3c;
	margin-right: 27px;
}
.macin .appleii-colors .appleii-color-burnt-orange {
	box-flex: 1;
	-moz-flex: 1;
	flex: 1;
	background-color: #f4581f;
	margin-right: 27px;
}
.macin .appleii-colors .appleii-color-red {
	box-flex: 1;
	-moz-flex: 1;
	flex: 1;
	background-color: #9f1e17;
	margin-right: 27px;
}
.macin .appleii-colors .appleii-color-eggplant {
	box-flex: 1;
	-moz-flex: 1;
	flex: 1;
	background-color: #862754;
	margin-right: 27px;
}
.macin .appleii-colors .appleii-color-blue {
	box-flex: 1;
	-moz-flex: 1;
	flex: 1;
	background-color: #3d81da;
	margin-right: 27px;
}
