body {
	margin: 0;
	padding: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	::-webkit-scrollbar {
		display: none !important;
	}
}

* {
	scrollbar-width: none !important;
}

#p5_loading {
	display: none;
}

@font-face {
	font-family: Casio;
	src: url('../fonts/casio-fx-9860gii.ttf');
}

@font-face {
	font-family: Digital7;
	src: url('../fonts/Digital7.woff2');
}

@font-face {
	font-family: C64;
	src: url('../fonts/C64_Pro_Mono-STYLE.woff2');
}

@font-face {
	font-family: Apple2;
	src: url('../fonts/Apple2.ttf');
}

@font-face {
	font-family: FSEX302;
	src: url('../fonts/FSEX302.ttf');
}

@font-face {
	font-family: VT323;
	src: url('../fonts/VT323-Regular.ttf');
}

@font-face {
	font-family: Orbitron;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Orbitron.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

row {
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	height: 4%;
}

#screen0 {
	margin: 0 auto;
	user-select: none;
}

.lvl07 #screen0 {
	display: contents;
}

.screen {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: monospace;
}

.lvl00 .screen {
	font-family: Casio, monospace;
}

.lvl01 .screen {
	font-family: C64, monospace;
	font-size: 1.05em;
}

.lvl05 .screen {
	font-family: C64, monospace;
	font-size: 1.23em;
	position: absolute;
	z-index: 1;
	width: 99.5%;
	height: 98.5%;
}

.lvl05 .terminal #screen0 {
	margin-top: 0;
}

.lvl02 .screen {
	font-family: Apple2, monospace;
	font-size: 1.16em;
}

.lvl03 .screen,
.lvl04 .screen {
	font-family: VT323, monospace;
	font-size: 1.13em;
}

.lvl07 .screen {
	font-family: VT323, monospace;
}

.lvl01 tile {
	width: 1.818181%;
	height: 100%;
}

.lvl05 tile {
	width: 2.5%;
	height: 100%;
}

.hovered {
	cursor: pointer;
}

.lvl01 .hovered,
.lvl05 .hovered {
	color: black;
	background-color: #eee;
}

.lvl02 .hovered {
	color: black;
	background-color: #55c055;
}

.lvl03 .hovered,
.lvl04 .hovered,
.lvl03 tile:hover,
.lvl04 tile:hover {
	color: black;
	background-color: #e5b92e;
}

.lvl01 #screen0 {
	filter: drop-shadow(0 0 10px #eee);
}

.lvl02 #screen0 {
	filter: drop-shadow(0 0 10px #55c055);
}

.lvl03 #screen0,
.lvl04 #screen0 {
	filter: drop-shadow(0 0 10px #e5b92e);
}

.lvl03 #screen0,
.lvl03 .hovered,
.lvl04 #screen0,
.lvl04 .hovered {
	cursor: none;
}

body {
	background-color: #000;
	font-size: 16px;
	/* text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */
}

body.lvl01 {
	color: #ddd;
}

.lvl05 .screen {
	color: #fff;
}

body.lvl02 {
	color: #55c055;
}

body.lvl03,
body.lvl04 {
	background-color: #000;
	color: #e5b92e;
}
