@font-face {
	font-family: C64;
	src: url('C64_Pro_Mono-STYLE.woff2');
}

.c64 :root {
	background-color: #111;
	background-image: radial-gradient(circle, #222, #111);
}

body.c64 {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.c64 .screen {
	font-family: C64, monospace;
	font-size: 1.2em;
	position: absolute;
	z-index: 1;
	top: 1%;
	left: 1%;
	width: 99%;
	height: 98%;
	color: #fff;
}

.c64 #screen0 {
	margin-top: 0;
}

.c64 .hovered {
	color: black;
	background-color: #eee;
}

.c64 #pc {
	margin-top: -100px;
}

.c64 #case {
	position: relative;
	padding: 3vmin 3vmin;
	background-color: #d7c8be;
	border-radius: 1.25vmin;
	border-top: 0.25vmin solid #eae3de;
	border-bottom: 0.75vmin solid #b0937f;
	box-shadow: inset 0 1vmin 2vmin #b0937f;
}

.c64 #bezel {
	border-radius: 0.5vmin;
	background-image: linear-gradient(to right, #262524, #333230, #383735, #333230, #262524);
	padding: 8vmin;
	position: relative;
	border-left: 2px solid #0c0b0b;
	border-right: 2px solid #0c0b0b;
	border-top: 1px solid #8e8c87;
	border-bottom: 3px solid #0c0b0b;
	box-shadow: 0 -1vmin 0.25vmin 0.5vmin #baa08f, 0 1vmin 0 0.5vmin #eae3de;
}

.c64 #bezel::before {
	content: '';
	position: absolute;
	top: 3vmin;
	left: 3vmin;
	right: 3vmin;
	bottom: 3vmin;
	border: 1px solid #333230;
	border-left-color: #191817;
	border-right-color: #191817;
	border-radius: 1vmin;
	box-shadow: inset 0 -1.5vmin 2vmin -0.05vmin #191817, inset 0 1.5vmin 2vmin -0.05vmin #191817;
}

.c64 #tube {
	box-shadow: 0 -3px 2px #1e1d1c, 0 2px 0 -1px #827f7a, 0 3px #4d4c49;
	color: #887ecb;
	background-color: #50459b;
	padding: 2px;
	font-size: 2vmin;
	font-family: C64;
	border: 6vmin solid #887ecb;
	position: relative;
	border-radius: 2vmin;
	user-select: none;
	width: 96vmin;
	height: 60vmin;
}

.c64 #tube.clear {
	background-color: #222;
	border: none;
}

.c64 canvas {
	position: relative;
	border-radius: 2vmin;
	z-index: 0;
	width: 96vmin !important;
	height: 60vmin !important;
}

.c64 #tube::before,
.c64 #tube::after {
	border-radius: 2vmin;
	position: absolute;
	content: '';
	top: -6vmin;
	left: -6vmin;
	right: -6vmin;
	bottom: -6vmin;
}

.c64 #tube.clear::before,
.c64 #tube.clear::after {
	border-radius: 2vmin;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* .c64 #tube::before {
	z-index: 20;
	animation: scanlines 16ms infinite steps(4, start);
	mix-blend-mode: overlay;
  background-size: 1vw 3px;
	background-image: linear-gradient(to bottom, transparent 2.7px, rgba(40, 35, 78, 0.6) 2px, rgba(40, 35, 78, 0.9) 3px);
} */

@keyframes scanlines {
	from {
		background-position: 0 0px;
	}

	to {
		background-position: 0 4px;
	}
}

/* .c64 #tube::after {
	box-shadow: inset 0 0 1vmin 0.25vmin rgba(0, 0, 0, 0.85), 0 0 10vmin -2vmin #50459b, 0 0 10vmin -5vmin #2c2654;
	background-blend-mode: multiply, normal, screen;
	background-image: radial-gradient(ellipse closest-corner, transparent 70%, rgba(80, 69, 155, 0.7)), linear-gradient(85deg, rgba(44, 38, 84, 0.2) 0%, rgba(255, 255, 255, 0) 64.5%, rgba(174, 172, 191, 0.05) 74.5%, rgba(243, 242, 250, 0.05) 75%, rgba(213, 210, 229, 0.07) 85%, rgba(255, 255, 255, 0) 85.5%);
} */
/* .c64 #tube.clear::after {
	box-shadow: inset 0 0 1vmin 0.25vmin rgba(0, 0, 0, 0.85), 0 0 10vmin -2vmin #666, 0 0 10vmin -5vmin #333;
	background-blend-mode: multiply, normal, screen;
	background-image: radial-gradient(ellipse closest-corner, transparent 70%, rgba(90, 90, 90, 0.7)), linear-gradient(85deg, rgba(64, 68, 64, 0.2) 0%, rgba(255, 255, 255, 0) 64.5%, rgba(174, 172, 191, 0.05) 74.5%, rgba(243, 242, 250, 0.05) 75%, rgba(213, 210, 229, 0.07) 85%, rgba(255, 255, 255, 0) 85.5%);
} */

.c64 #bottom-panel {
	position: absolute;
	top: 100.9%;
	left: 1vmin;
	right: 1vmin;
	height: 16vmin;
	background-color: #d7c8be;
	border-radius-bottom-left: 1rem;
	border-left: 0.25vmin solid #cdbbae;
	border-right: 0.25vmin solid #cdbbae;
	background-image: linear-gradient(to bottom,
			#7c604d 0%,
			#f4f0ed 1.25vmin,
			#eae3de 6.5vmin,
			rgba(215, 200, 190, 0) 7.25vmin);
	perspective: 12in;
}

.c64 #badge {
	position: absolute;
	z-index: 1;
	top: -1vmin;
	height: 7vmin;
	left: 33vmin;
	right: 33vmin;
	background-image: linear-gradient(-10deg, #494130, #332e22);
	border-left: 0.25vmin solid #d7c8be;
	border-right: 0.25vmin solid #d7c8be;
}

.c64 #badge #logo {
	position: absolute;
	top: 55%;
	left: 0.3vmin;
	transform: translate(0, -50%);
}

.c64 #badge img {
	width: 7vmin;
	filter: grayscale() contrast(0.7) brightness(4);
}

.c64 #badge #brand {
	position: absolute;
	top: 55%;
	left: 7.6vmin;
	background: linear-gradient(#262626, #eaeaea, #262626);
	background-clip: text;
	color: transparent;
	transform: translate(0, -50%);
}

.c64 #badge::after {
	content: '';
	position: absolute;
	top: 0.5vmin;
	bottom: 0.5vmin;
	right: 8vmin;
	width: 10vmin;
	opacity: 0.5;
	background-image: linear-gradient(to bottom,
			red 0%,
			red 15%,
			transparent 15%,
			transparent 21.25%,
			orange 21.25%,
			orange 36.25%,
			transparent 36.25%,
			transparent 42.5%,
			yellow 42.5%,
			yellow 57.5%,
			transparent 57.5%,
			transparent 63.75%,
			limegreen 63.75%,
			limegreen 78.75%,
			transparent 78.75%,
			transparent 85%,
			cyan 85%,
			cyan 100%);
}

.c64 #badge #refreshLbl {
	position: absolute;
	right: 2vmin;
	top: 0;
	bottom: 0;
	width: 5vmin;
	background-color: black;
	color: #666;
	font: normal 0.75vmin system-ui, sans-serif;
	text-align: center;
	line-height: 11vmin;
}

.c64 #ident {
	line-height: 1.5;
	position: absolute;
	top: 1vmin;
	right: 13vmin;
	height: 5vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Syncopate', sans-serif;
	font-size: 1.25vmin;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(51, 50, 48, 0.85);
	text-shadow: -1px -1px white, 1px 1px #c4ad9e;
	border-radius: 0.333vmin;
	border-top: 1px solid #e1d5ce;
	border-left: 1px solid white;
	box-shadow: 0.25vmin 0.25vmin 0.25vmin #c4ad9e;
	padding: 0 3vmin 0 1vmin;
	transform: skewx(3.5deg);
}

.c64 #door {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 83vmin;
	height: 7.5vmin;
	border-top: 4px groove #e6dcd6;
	border-right: 2px groove #e1d5ce;
}

.c64 #video,
#audio {
	font: normal 1vmin system-ui, sans-serif;
	color: #5d4739;
	position: absolute;
	top: 9vmin;
	width: 5vmin;
	height: 5vmin;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid black;
	border-color: #e1d5ce #c4ad9e #c4ad9e #e1d5ce;
	background-image: radial-gradient(circle, #8c6c56, rgba(0, 0, 0, 0));
	box-shadow: inset -0.5vmin -0.5vmin 0.5vmin -0.5vmin white, inset -1vmin -1vmin 2vmin -1vmin #eae3de,
		inset 0.5vmin 0.5vmin 0.5vmin -0.5vmin rgba(0, 0, 0, 0.5), inset 1vmin 1vmin 1vmin #8c6c56;
}

.c64 #video::before,
#audio::before {
	content: '';
	position: absolute;
	top: 0.75vmin;
	left: 0.75vmin;
	bottom: 0.75vmin;
	right: 0.75vmin;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 0.25vmin 0.1vmin rgba(0, 0, 0, 0.4), 0 0 0.75vmin #3d2f26;
	background-image: radial-gradient(circle at 50% 45%, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0.4) 70%),
		radial-gradient(circle 3.75vmin at 50% 85%, rgba(255, 255, 255, 0) 64%, rgba(255, 255, 255, 0.4) 70%),
		radial-gradient(circle,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8) 15%,
			rgba(0, 0, 0, 0) 40%,
			rgba(0, 0, 0, 0) 45%,
			#a7a7a7 45%,
			silver 50%,
			black);
}

.c64 #video::after,
#audio::after {
	position: absolute;
	bottom: -2em;
	left: 0;
	right: 0;
	text-align: center;
}

.c64 #video {
	right: 15vmin;
}

.c64 #video::before {
	background-color: yellow;
}

.c64 #video::after {
	content: 'VIDEO';
}

.c64 #audio {
	right: 9vmin;
}

.c64 #audio::before {
	background-color: white;
}

.c64 #audio::after {
	content: 'AUDIO';
}

.c64 #refresh {
	font: normal 1vmin system-ui, sans-serif;
	color: #9c7860;
	position: absolute;
	width: 6.8vmin;
	height: 3.8vmin;
	right: 2.6vmin;
	top: 1.5vmin;
	background-color: black;
	border: 1px solid #a6856f;
}

.c64 #refresh::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, #9d9792, #857d77 2px, #a9a49f);
	box-sizing: border-box;
	border-top: 0.5vmin solid #857d77;
	border-bottom: 3px solid #5d5753;
	border-right: 1px solid #6a645f;
	border-left: 1px solid #6a645f;
}

.c64 #refresh::after {
	content: 'REFRESH';
	position: absolute;
	top: calc(100% + 0.5vmin);
	left: 0;
	right: 0;
	text-align: center;
}

/*------- Keyboard ------- */
#keyboard {
	display: none;
	transform-style: preserve-3d;
	transform: scale(.94) rotateX(25deg);
}

#keys {
	margin: auto;
	font-family: "Average Sans", sans-serif;
	color: #555;
	padding: 2.5vw 2.3333333333333335vw 2.3333333333333335vw;
	background: #f5f3f1;
	background: linear-gradient(to bottom, #e5e2e1, #f5f3f1, #e5e2e1);
	box-shadow: 0 0 0.8333333333333334vw rgba(0, 0, 0, 0.2), inset 0 0 0.3125vw rgba(0, 0, 0, 0.3);
	border-bottom: 1.5vw solid lightgray;
	border-radius: 0.8333333333333334vw;
	width: 66vw;
}

.a2 #keys {
	filter: brightness(0.82) grayscale(1) sepia(1);
}

#main {
	padding: 0 0.25vw;
	background: #4d4d4d;
	border-radius: 0.33333333333333337vw 0.33333333333333337vw 0 0;
	position: relative;
	display: flow-root;
}

#addition_wrap {
	padding: 0 0.25vw;
	background: #4d4d4d;
	border-radius: 0 0 0.33333333333333337vw 0.33333333333333337vw;
	position: relative;
	display: flow-root;
}

.key,
.f_key {
	width: 4.5vw;
	height: 3.7vw;
	margin: 0.1vw;
	margin-top: -0.33333333333333337vw;
	border-width: 0.3125vw 0.5833333333333334vw 1.6666666666666667vw;
	border-style: solid;
	border-radius: 0.33333333333333337vw;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	float: left;
}

.pressed {
	transform: rotateX(15deg) translate(0, 1vw);
}

.key,
.f_key {
	color: #C3BFB3;
	background: #696453;
	border-color: #4A422E #605b4e #4E4737;
}

/* .key,
.f_key {
	background: #d3cfcc;
	border-color: #ece8e4 #dedad6 #c9c4c4;
} */

/* .f_key {
	background: #a8aeb8;
	border-color: #c4c7cc #adb9cc #96a6bd;
} */

.keycap {
	font-size: 1.3vw;
	line-height: 1;
	padding: 1vw;
	margin-top: -1vw;
	height: 3vw;
	border-radius: 0.33333333333333337vw;
	transform: rotateX(27deg);
	z-index: 15;
	text-align: center;
}

.keycap.two-char {
	padding: .1vw;
}

.key .keycap,
.f_key .keycap {
	background: #696453;
	background: linear-gradient(to right, #7A7464, #95958A, #8C8876);
	position: relative;
}

/* .key .keycap,
.f_key .keycap {
	background: #f5f3f1;
	background: linear-gradient(to right, #e5e2e1, #f5f3f1, #e5e2e1);
	position: relative;
}
 */
/* .f_key .keycap {
	width: 90%;
	background: #cdd3de;
	background: linear-gradient(to right, #bbc3d2, #cdd3de, #bbc3d2);
} */

.top {
	padding: 0.3125vw 0.4166666666666667vw 0 0;
	font-size: 1vw;
	font-style: italic;
	text-align: right;
	line-height: 1;
	display: block;
}

.bottom {
	width: inherit;
	line-height: 1.6666666666666667vw;
	display: block;
}

.side {
	font-size: 0.8333333333333334vw;
	line-height: 1;
	display: block;
	position: absolute;
	left: 0.33333333333333337vw;
	bottom: -0.8333333333333334vw;
	transform: rotateX(20deg);
}

.f_key .side {
	left: -0.3125vw;
}

.k13 .side {
	right: 0.5833333333333334vw;
	text-align: right;
}

/*------- key width ------- */
.k18.left,
.k192,
.fn,
.k18.right,
.k17 {
	width: 5.1vw;
}

.k27 {
	width: 5.3vw;
}

.k27 .keycap {
	width: 96%;
}

.k192 .keycap {
	width: 2.5vw;
}

.k9 {
	width: 7.2vw;
	border-right-width: 0.8333333333333334vw;
}

.k8 {
	width: 6.5vw;
	border-left-width: 0.8333333333333334vw;
}

.k20 {
	width: 8.4vw;
	border-right-width: 0.8333333333333334vw;
}

.k13 {
	width: 8vw;
	border-left-width: 0.8333333333333334vw;
}

.k16.left {
	width: 10vw;
	border-right-width: 0.8333333333333334vw;
}

.k16.left .keycap {}

.k16.right {
	width: 11vw;
	border-left-width: 0.8333333333333334vw;
}

.k91,
.k93 {
	width: 6vw;
}

.k91 .top,
.k93 .top {
	font-size: 1.0833333333333335vw;
}

.k91 .bottom,
.k93 .bottom {
	font-size: 1.6666666666666667vw;
}

.k91.left {
	border-right-width: 0.8333333333333334vw;
}

.k93.right {
	border-left-width: 0.8333333333333334vw;
}

.k32 {
	width: 26.26vw;
}

.k32 .keycap {
	width: 25.66vw;
}

.k93.right .side {
	margin-left: .4vw;
}

/* .k37,
.k38,
.k39,
.k40 {
  width: 2.5vw;
} */

#cover {
	height: 0.8333333333333334vw;
	position: relative;
	z-index: 1000;
}
